<h1>投稿一覧</h1>
<% @posts.each do |post| %>
  <%= link_to "#{post.name}", post_path(post) %><br>
  <%#= link_to "#{post.tags.each {|t| puts t.name }}", tag_path(post) %><br>
<% end %>

<br>
<%= link_to "新規作成", new_post_path %><br>

